<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

      <!-- Favicon -->
      <link href="images/favicon.ico" rel="icon">

      <!-- Google Web Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700&display=swap"
          rel="stylesheet">
  
      <!-- Icon Font Stylesheet -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  
      <!-- Libraries Stylesheet -->
      <link href="lib/animate/animate.min.css" rel="stylesheet">
      <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

   <!-- Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>

</style>
<body>
  

    
<!-- Navbar Start -->
    {{>navbar}}
<!-- Navbar End -->

<!-- Header Start -->
<div class="container-fluid hero-header Bg py-5 mb-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h1 class="display-4 mb-3 animated slideInDown">Empowering Health Together</h1>
                <p class="animated slideInDown">Our mission is to empower patients and doctors to collaborate effectively. Experience direct communication with your healthcare provider, access your medical records with ease, and stay on top of your treatment tasks. Become an active participant in your healthcare journey, with guidance from your doctor every step of the way. Our platform caters to the needs of healthcare professionals and patients, offering a comprehensive solution.

Don't wait any longer; your path to well-being begins here. Join us now!
              </p>
    
                <a href="" class="btn btn-primary py-3 px-4 animated slideInDown">Explore More</a>
            </div>
            <div class="col-lg-6 animated fadeIn">
                <img class="img-fluid image_left animated pulse infinite" style="animation-duration: 3s;" src="images\PngItem_1939084.png"
                    alt="image">
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

    
    <!-- About Start -->
    <div class="container-xxl about py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid image_right  animated pulse infinite" style="animation-duration: 3s;"
                        src="images\image-from-rawpixel-id-2285498-original.png" alt="image">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h1 class="display-6">About Us</h1>
                        <p class="text-primary fs-5 mb-4">Your Trusted Healthcare Partner</p>
                        <p>At Doctor G, we are your dedicated healthcare companion. We bridge the gap between patients and
                            doctors, ensuring seamless communication. Join us in revolutionizing healthcare connectivity.
                            Thank you for choosing us.</p>
                        <p class="mb-4">We provide comprehensive healthcare solutions tailored to your needs, placing you at
                            the center of your health journey.</p>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                            <span>Patient-Centric Approach: Your well-being is our top priority.</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                            <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                            <span>Trusted by Professionals: Healthcare providers rely on us to enhance patient
                                management.</span>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                            <span>Comprehensive Healthcare Solutions: We offer a wide range of services to ensure your
                                well-being.</span>
                        </div>
                        <a class="btn btn-primary py-3 px-4" href="">Read More</a>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <!-- About End -->


    
         <!-- Features Start -->
         <div class="container-xxl feature py-5">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-6">Why Us!</h1>
                    <p class="text-primary fs-5 mb-5">The Best In The Medical Industry</p>
                </div>
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="img-fluid flex-shrink-0" src="images\icons8-easy-64.png" alt="">
                            <div class="ps-4">
                                <h5 class="mb-3">Easy To Use</h5>
                                <span>Whether you're a doctor or a new patient, you'll find our platform easy to use and understand.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="d-flex align-items-start">
                            <img class="img-fluid flex-shrink-0" src="
                            images\icons8-protect-64.png" alt="">
                            <div class="ps-4">
                                <h5 class="mb-3">Safe & Secure</h5>
                                <span>Our platform is protected by the latest encryption technology, and we have strict security protocols 
                                     to prevent unauthorized access.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="d-flex align-items-start">
                            <img class="img-fluid flex-shrink-0" src="images/icon-5.png" alt="">
                            <div class="ps-4">
                                <h5 class="mb-3">Affordable Plans</h5>
                                <span>Our plans are designed to provide the features and functionality you need at a price that won't break the bank.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-flex align-items-start">
                            <img class="img-fluid flex-shrink-0" src="images\icons8-data-protection-80.png" alt="">
                            <div class="ps-4">
                                <h5 class="mb-3">Secure Storage</h5>
                                <span>Data stores in secure, reliable data centers that are monitored around the clock. Our platform is backed up regularly, 
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="d-flex align-items-start">
                            <img class="img-fluid flex-shrink-0" src="images\icons8-star-64.png" alt="">
                            <div class="ps-4">
                                <h5 class="mb-3">Customizable features</h5>
                                <span> You can choose your theme or add new functionality to meet your requirements.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="d-flex align-items-start">
                            <img class="img-fluid flex-shrink-0" src="images\icons8-customer-support-50.png"  alt="">
                            <div class="ps-4">
                                <h5 class="mb-3">24/7 Support</h5>
                                <span> Our team is always available to help with any questions or technical issues.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->



    <!-- Footer Start -->
    <div class="container-fluid  footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                  
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, Raibareli,India</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+9182365236</p>
                    <p><i class="fa fa-envelope me-3"></i>info@doctorG.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Our Services</h5>
                    <a class="btn btn-link" href="">Manage patients</a>
                    <a class="btn btn-link" href="">Practice tasks</a>
                    <a class="btn btn-link" href="">Access data</a> 
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Our Services</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Follow Us</h5>
                    <div class="d-flex">
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">Doctor G</a>, All Right Reserved.
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>