
   
   <!-- Navbar Start -->
   <nav class="navbar navbar-expand-lg border-bottom border-light  navbar-light sticky-top p-0 px-4 px-lg-5" id="navb">
    <a href="/" class="navbar-brand d-flex align-items-center">
        <h2 class="m-0 " id="nav_heading"><img class="img-fluid me-2" src="images\doctor-logo-49384.png" alt="logo"
            style="width: 45px;">
                Doctor G</h2>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-4 py-lg-0">
            <a href="Home" class="nav-item nav-link active">Home</a>
            <a href="about" class="nav-item nav-link">About</a>
            <a href="services" class="nav-item nav-link">Service</a>
            <a href="contact" class="nav-item nav-link">Contact</a>
        </div>
        <!-- Login and Sign up buttons  -->
      <div class="d-flex">
        <button class="btn white me-2" type="button"  onclick="location.href='login' ">Login</button>
        <button class="btn white me-2" type="button" onclick="location.href='signup' ">Sign up</button>
      </div>
    </div>
    
</nav>
<!-- Navbar End -->